.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: calc(68px + 40px) 70px 0;
  height: auto;
}

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.header {
  margin-bottom: 50px;
  width: 50vw;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.form h3 {
  margin-bottom: 5px;
}

.demographic {
  width: 400px;
}

.ss-main {
  margin: 10px 10px 35px;
}

.ss-main .ss-single-selected {
  border-radius: 2px;
  min-width: 200px;
  color: #212121;
}

.ss-main .ss-content .ss-list {
  max-height: 300px;
}

.ss-main .ss-content .ss-search input {
  border-radius: 0;
}

.ss-main .ss-content .ss-search input:focus {
  box-shadow: none;
}

.ss-main .ss-content .ss-list .ss-option {
  color: #212121;
}

.ss-main .ss-content .ss-list .ss-option:hover,
.ss-main .ss-content .ss-list .ss-option.ss-disabled:hover {
  background-color: #f15856;
  color: #f9f9f9;
}

.ss-main .ss-content .ss-list .ss-option.ss-disabled {
  color: #666;
}

.ss-main .ss-multi-selected {
  padding: 5px;
}

.ss-main .ss-multi-selected .ss-values .ss-value {
  background-color: #f15856;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px;
}

.results-header {
  margin: 0 auto 50px;
  text-align: center;
}

.scholarship {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50vw;
}

.scholarship:hover {
  cursor: pointer;
}

.scholarship:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 30px;
}

.scholarship .header {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: black;
  margin-bottom: 20px;
}

.scholarship:hover .header {
  text-decoration: underline;
}

.scholarship .subheader {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.scholarship p {
  font-family: 'PT Serif', serif;
  letter-spacing: 0.5px;
  font-size: 0.8em;
  margin: 10px 0 25px;
}
